@charset "utf-8";

#text {
    color: cornsilk;
}

#top {
    color: blue;
}

body {
    background-color: mediumturquoise;
}

#hot{
    box-decoration-break: slice;
}

#con{
    color: crimson;
}

#tet{
    color: rgb(102, 255, 122);
}

h1{
    background-color: orange;
}

h2{
    background-color: orangered;
}

p{
    background-color: skyblue;
}

li {
    background-color: skyblue;
}
 
.text-center{
    text-align: center;
}
 
#red{
    color: darkred;
}